@page "/Ubicacions/Editar/{Id:int}"
@inject HttpClient http
@inject NavigationManager navegator
@using Actividad_18.Shared.Models

<h3>Editar Ubicacion</h3>
<EditForm Model="ubi" OnValidSubmit="Editar">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="numestante" class="form-label">Numero de Estante</label>
        <InputNumber id="numestante" class="form-control" @bind-Value="ubi.NoEstante" />
    </div>
    <div class="mb-3">
        <label for="numpiso" class="form-label">Numero de Piso</label>
        <InputNumber id="numpiso" class="form-control" @bind-Value="ubi.Piso" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }
    private Ubicacion ubi = new Ubicacion();

    protected override async Task OnInitializedAsync()
    {
        ubi = await http.GetFromJsonAsync<Ubicacion>($"api/Ubicaciones/{Id}");
    }

    private async void Editar()
    {
        await http.PutAsJsonAsync($"api/Ubicaciones/{Id}", ubi);
        navegator.NavigateTo("/Ubicacion");
    }
}
